@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    background-color: rgb(116, 115, 124); 
    color: black;
    font-family: 'Fredoka One', cursive;
    min-height: 90vh;      
}
h1{
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Potta One', cursive;
    color: rgb(39, 40, 43);
}

#user-interface{
text-align: center
}
#list-name-input{
    background-color: rgb(175, 223, 231);
    border: none;
}

.list-div{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.delete-btn{
    background-color: rgb(241, 98, 98);
    cursor: pointer;
    margin-right: 2px;

}
.select-all{
    background-color: rgb(58, 202, 45);
    cursor: pointer;
    margin-right: 20px;
}

.header2{
    flex: 0.05;
    font-size: 17px;
    color: rgb(24, 66, 36);

}

#add{
    background-color: rgb(221, 233, 157);
    border: none;
    cursor: pointer;
}
#add:hover{
    background-color: rgb(58, 202, 45);
}

.first-input{
    background-color: rgb(207, 209, 59);
    border:none
}

.second-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

}

.delete-btn{
    margin-left: 5px;
    margin-right: 20px;
}


